<!-- ユーザのプロフィール  ここから-->
<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>

  <!-- プロフィール画像をビューに設定する -->
  <!-- 変更前のコード < %= image_tag('sample-author1.jpg') %> -->
  <!-- 下記変更後のコード -->
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <!-- < %= attachment_image_tag 保存先インスタンス名, :保存先カラム名, :サイズ（横幅,高さ）, 画像拡張子, 代替画像 %> -->

  <!--編集ページへのリンクを設定する ここから-->
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
  <!--ここまで-->
</div>

<!--users/show.html.erbから呼び出す-->
<%= render 'post_images/list', post_images: @post_images %>
<!-- < %= render [部分テンプレートファイルの指定], [ローカル変数]:[渡す値] %> -->